.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100vw;
  flex-grow: 1;
  align-content: stretch;
}

/*change logo size in header*/
.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 7vw;
  background-color: greenyellow;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: red;
}

.brand-text {
  display: flex;
flex-direction: column;
align-self: center;
justify-content: center;
  width: 100%;
  background-color: fuchsia;
  align-content: stretch;
  height: 100%;
}

.menu {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

/* Create card for users to show in display results */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 350px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  text-align: left;
  padding: 2px 16px;
}

/* Contain image to card size*/
.user-image {
  width: 100%;
}

/* Results div to space image cards evenly*/
.results {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Advanced filter div to place dropdowns side by side horizontally, not vertically! */
.advanced-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  }

/*Drop down component to stretch across top of page */
.dropdown {
  flex-grow: 1;
  max-width: 33%
}

