.App {
	text-align: center;
	background-color: #09444b;
}

.header {
	background-color: #09444b;
	min-height: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	width: 100%;
	align-content: space-between;
}

/*change logo size in header*/
.logo {
	display: flex;
	align-items: baseline;
	justify-content: center;
	max-width: 50px;
	padding: 2%;
	background-color: #09444b;
}

.brand-text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 2;
	align-items: center;
	justify-content: space-around;
	background-color: #09444b;
}

.rub-a-dub {
	display: flex;
	background-color: #09444b;
	justify-self: center;
	margin: 0px;
	position: absolute;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0.15em;
}

.developer-hub {
	display: flex;
	background-color: #09444b;
	justify-self: center;
	margin: 0px;
	position: absolute;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.2em;
	top: 55px;

	color: #ffc93c;
}

/* .menu {
	display: flex;
	align-self: center;
	justify-content: center;
	background-color: orange;
} */

.menu-container {
	display: flex;
	cursor: pointer;
	align-self: baseline;
	justify-content: baseline;
}

.bar1,
.bar2,
.bar3 {
	width: 28px;
	height: 2px;
	background-color: #ffc93c;
	box-shadow: 2px 2px 4px black;
	margin: 6px 25px;
	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}

.title {
	background-color: #042d32;
	padding: 10px;
	border-top: 1px solid #f79620;
	border-bottom: 1px solid #f79620;
	color: white;
}

/* Create card for users to show in display results */
.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	max-width: 350px;
	margin: 5%;
	border: 1px solid #f79620;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
	text-align: left;
	padding: 2px 16px;
	background-color: #042d32;
	color: white;
}

/* Contain image to card size*/
.user-image {
	width: 100%;
}

.user-name {
	display: flex;
	align-items: flex-start;
	font-size: 18px;
	color: #f69620;
}

.user-bio {
	display: flex;
	align-items: flex-start;
	font-size: 12px;
}

/* Results div to space image cards evenly*/
.results {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*Advanced filter div to place dropdowns side by side horizontally, not vertically! */
.advanced-filter {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	font-size: 10px;
}

/*Drop down component to stretch across top of page */
.dropdown {
	flex-grow: 1;
	max-width: 33%;
	padding: 1%;
}

.search-bar {
	width: 300px;
	height: 30px;
	max-width: 100%;
	text-align: center;
	border-radius: 15px;
	border-color: #ffc93c;
	padding: 2%;
	margin: 5px;
	background-color: #042d32;
	font-size: 12px;
	flex-direction: row;
	flex-wrap: nowrap;
	color: white;
	transition: 0.3s all;
}

.search-nav {
	padding: 2%;
	background-color: #09444b;

	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
