@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap");
body {
	margin: 0;
	font-family: Montserrat, Quicksand;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #09444b;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
